<%= link_to 'Edit', edit_person_path(@person) %>
<%= link_to 'Delete', @person, :method => :delete %>
</p>

<div class="container-fluid form_a">
  <div class="row-fluid">
  <div class="span6">
    <h1><%= @person.name %> <%= @person.surname %> </h1>
    <table class="table">
      <tr>
        <td>First Name: <%= @person.name %><td>Surname: <%= @person.surname%>
      </tr>
      <tr>
        <td>Address: <%= @person.address %><td><td> State: <%= @person.state%></td>
      </tr>
      <tr>
        <td>Email: <%= @person.email%><td><td>Mobile: <%= @person.mobile %><td>
      </tr>
      <tr>
        <td>Type: <%= @person.type %><td><td>Status: <%= @person.status %><td>
      </tr>
      <tr>
        <td><td><td><td>
      </tr>
    </table>
  </div>
<div class="container-fluid form_b">
  <div class="row-fluid">
    <div class="span6">
      <h1>CALENDAR</h1>
    </div>
  <div class="row-fluid">
    <div class="span6">
      <h1>EVENT NOTES</h1>
      <table class="table">
      <tr><td>sdfasdf<td><td>sdfasdf<td><td>sdfasdf<td></tr>
  </div>
</div>

