<h2><%= @organisation.name %> <%= @organisation.address %> </h2>
<p>PH:<%= @organisation.phone %></p>
<p>Members:<%= @organisation.people %></p>
<p><%= link_to 'Add person to organisation', add_person_organisation_path(@organisation) %></p>
<%= link_to 'Edit', edit_organisation_path(@organisation) %>
<%= link_to 'Delete', @organisation, :method => :delete %>
</p>

<%= link_to 'Edit', edit_organisation_path(@organisation) %>
<%= link_to 'Delete', @organisation, :method => :delete %>
</p>

<div class="container-fluid form_a">
  <div class="row-fluid">
  <div class="span6">
    <h1><%= @organisation.name %> <%= @organisation.surname %> </h1>
    <table class="table">
      <tr>
        <td>Name: <%= @organisation.name %></tr>
      <tr>
        <td>Address: <%= @organisation.address %><td><td> State: <%= @organisation.state%></td>
      </tr>
      <tr>
        <td>Email: <%= @organisation.email%><td><td>Phone: <%= @organisation.phone %><td>
      </tr>
      <tr>
        <td>Status: <%= @organisation.status %><td>
      </tr>
      <tr>
      </tr>
    </table>
  </div>
<div class="container-fluid form_b">
  <div class="row-fluid">
    <div class="span6">
      <h1>CALENDAR</h1>
    </div>
  <div class="row-fluid">
    <div class="span6">
      <h1>EVENT NOTES</h1>
      <table class="table">
      <tr><td>sdfasdf<td><td>sdfasdf<td><td>sdfasdf<td></tr>
  </div>
</div>