<h2><%= @organisation.name %> <%= @organisation.address %> </h2>
<p>Members:

<ul>
      <% @organisation.people.each do |person| %>
      <li><%= person.name %> <%= person.surname %></li>
      <% end %>
    </ul>
  </p>

<button><p><%= link_to 'Add new person to organisation', add_person_organisation_path(@organisation) %></p></button>
</p>
<button><%= link_to 'Edit', edit_organisation_path(@organisation) %></button>
<button><%= link_to 'Delete', @organisation, :method => :delete %></button>
</p>

<div class="container-fluid form_a">
  <div class="row-fluid">
  <div class="span6">
    <h1><%= @organisation.name %></h1>
    <table class="table">
      <tr>
        <td>Name: <%= @organisation.name %></tr>
      <tr>
        <td>Address: <%= @organisation.address %><td><td> State: <%= @organisation.state%></td>
      </tr>
      <tr><td>Phone: <%= @organisation.phone %><td>
      </tr>
      <tr>
      </tr>
    </table>
  </div>
<div class="container-fluid form_b">
  <div class="row-fluid">
    <div class="span6">
      <h1>CALENDAR</h1>
    </div>
  <div class="row-fluid">
    <div class="span6">
      <h1>EVENT NOTES</h1>
      <table class="table">
      <tr><td>sdfasdf<td><td>sdfasdf<td><td>sdfasdf<td></tr>
  </div>
</div>