<h2><%= @event.eventtype %> <%= @event.startdate %> </h2>
<p>Notes:<%= @event.notes %></p>
<p>
<button><%= link_to 'Edit', edit_event_path(@event) %></button>
<button><%= link_to 'Delete', @event, :method => :delete %></button>
</p>