<!DOCTYPE html>
<html>
<head>
  <title>Crmpro</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
WELCOME TO CRMPro

<ul>
<li><%= link_to 'People', people_path %></li>
<li></li> <%= link_to 'Organisation', organisations_path %>
<li></li> <%= link_to 'Events', events_path %>
</ul>
<%= yield %>

</body>
</html>
