<!DOCTYPE html>
<html>
<head>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <link href='http://fonts.googleapis.com/css?family=Lato' rel='stylesheet' type='text/css'>
</head>
<body>
<div class="container-fluid">
  <div class="navbar navbar-static-top">
    <div class="navbar-inner">
      <ul class="nav">
        <li class="link"><%= link_to 'Home',  root_path %></li>
        <li class="link"><%= link_to 'Register', new_person_path %></li>
        <li class="link"><%= link_to 'Sign In', login_path %></li>
      </ul>
      <ul class="nav pull-right">
          <li class="link"><%= link_to 'People',  people_path %></li>
          <li>
          <a href="https://www.google.com/calendar/embed?src=qetsbt61e7bjh7iagu50tvia1c%40group.calendar.google.com&ctz=Australia/Sydney" target="_blank">Calendar</a></li>
          <li class="link"><%= link_to 'Organisations',organisations_path %></li>
      </ul>
    </div>
  </div>
  <nav><%== intellinav %></nav>

  <!--<div class="row-fluid">
    <div class="span12" style="background: red;color: white;"><p><%= notice %></p></div>
  </div>--!>
  <nav><%#== intellinav %></nav>
  <%= yield %>
</div> <!-- container -->
<footer>
</footer>
</body>
</html>
